/* 아이콘 */
@import url("https://use.fontawesome.com/releases/v5.3.1/css/all.css");

/* 폰트 */
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Quicksand:500|Raleway|Ubuntu");

body {
	text-align: center;
	background-color: #f6f6f6;
	margin: 5px;
}

input {
	border-style: groove;
}

button {
	border-style: groove;
}

.shadow {
	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.03);
}
