@import 'global.scss';

.root-user-picture {
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 0.5rem 0;
	font-size: 0.7rem;
	color: #495057;
	font-weight: 600;
	font-family: 'Quicksand', sans-serif;
	overflow-y: auto;
	&.trans {
		background: transparent !important;
	}
	&.hover-action:hover {
		background: white;
		cursor: pointer;
		box-shadow: 0 20px 40px rgba(0, 0, 0, 0.03), 0 20px 40px rgba(0, 0, 0, 0.03);
	}
	&.bg-white {
		background: white;
		cursor: default !important;
		box-shadow: 0 20px 40px rgba(0, 0, 0, 0.03), 0 20px 40px rgba(0, 0, 0, 0.03);
	}
	.user-img {
		background-repeat: no-repeat;
		border: 1px solid white;
		border-radius: 50%;
		&.user-img-shadow {
			box-shadow: 0 10px 10px rgba(0, 0, 0, 0.14),
				0 10px 10px rgba(0, 0, 0, 0.14);
		}
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
	.msg-unread {
		position: absolute !important;
		width: 15px;
		height: 15px;
		left: 59px;
		top: 3px;
		background: #f03e3e;
		border: 1px solid #ef8e8e;
		border-radius: 50%;
		color: white;
		font-weight: 200;
		&.hide {
			display: none;
		}
	}
}
